/* rest css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-family: "Noto Sans KR", sans-serif;
    height: 100vh;
}

body {
    height: 100vh;
    background-color: #f2f2f2;
}

.login-main {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 500px;
    background-color: #ffffff;
    text-align: center;
    padding: 38px 30px 30px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    /* display: none; */
}

.login-title {
    display: inline-block;
    width: 122px;
    margin-bottom: 36px;
    font-size: 16px;
    font-weight: 400;
}

.login-modal-open {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    background-color: #2f80ed;
    padding: 17px 15px 15px;
    cursor: pointer;
}

.login-text {
    margin-bottom: 32px;
}

.login-modal-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #0000007e;
}

.login-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 520px;
    height: auto;
    border-radius: 10px;
    padding: 20px 24px 25px;
}

.login-modal-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    padding-bottom: 18px;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
    margin: 0 -24px;
}

.login-modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    margin: 22px 24px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.login-section-text {
    margin: 26px 0 24px 0;
    font-size: 20px;
    font-weight: 500;
}

.login-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 17px;
}

input[type="text"] {
    padding: 15px 16px;
    font-size: 16px;
    font-weight: 400;
    color: #767676;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

input[type="password"] {
    padding: 15px 16px;
    font-size: 16px;
    font-weight: 400;
    color: #767676;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    padding-left: 30px;
    margin-bottom: 21px;
    background: url("/images/icon_check_empty.png") no-repeat 0 0 / contain;
    background-size: 22px 22px;
    font-size: 16px;
    font-weight: 400;
    color: #767676;
}

input[type="checkbox"]:checked + label {
    background: url("/images/icon_check.png") no-repeat 0 0 / contain;
}

.login-button {
    width: 100%;
    margin-bottom: 20px;
    padding: 14px 0;
    background-color: #2f80ed;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.login-member {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 38px;
    margin-bottom: 29px;
}

.login-member a {
    font-size: 14px;
    font-weight: 400;
    color: #767676;
}

.login-member a:nth-child(1)::after {
    content: "|";
    margin: 0 12px;
}

.login-member::after {
    content: "또는";
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 13px;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    color: #767676;
}

.sns-login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sns-login {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 20px;
    padding: 15px;
    color: #767676;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
}

.sns-login::before {
    float: left;
    display: block;
    content: "";
    background-image: url(./images/logo_retina_sprite.png);
    width: 28px;
    height: 28px;
    background-size: 38px 146px;
}

.google {
    border-color: rgb(193, 193, 193);
}

.google::before {
    background-position: -5px -5px;
}

.facebook {
    border-color: rgb(163, 206, 252);
}

.facebook::before {
    background-position: -10px -40px;
}

.naver {
    border-color: rgb(87, 216, 87);
}

.naver::before {
    background-position: -10px -77px;
}

.kakao {
    border-color: rgb(240, 225, 53);
}

.kakao::before {
    background-position: -8px -116px;
}

.on {
    display: block;
}

.off {
    display: none;
}
